{% extends 'views/base.html.twig' %}
{% import "component/block.html.twig" as block %}

{% block title %}New Item{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<section id="item-create" class="modal">
    <div class="modal-title">
        <h3>Create Item</h3>
    </div>

    <div class="modal-form">
        {{ form_start(form) }}
        <article class="modal-create--data">
            <div>
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
            </div>
            <div>
                {{ form_row(form.image_cover) }}
                {{ form_row(form.image_large) }}
                {{ form_row(form.is_visible) }}
            </div>
        </article>
        <!-- hide category row, done after -->
        {{ form_widget(form.categories, { 'attr': {'class': 'hidden'} }) }}
        {{ form_rest(form) }}
        <div class="modal-entity--list">
            <label>Categories</label>
            <div class="modal-entity--listing">
                {% for category in form.categories %}
                    {% set index = category.vars.value %}
                    {% set entity = form.categories.vars.choices[index].data %}
                    {{ block.category(entity.name, entity.icon, index) }}
                {% endfor %}
            </div>
        </div>

        <div class="modal-button">
            {# <a href="{{ path('show_all') }}" class="btn btn-bg--dark">Cancel</a>#}
            <a href="" class="btn btn-bg--dark">Cancel</a>
            <button type="submit" class="btn btn-bg--submit">Create Item</button>
        </div>
        {{ form_end(form) }}
    </div>

</section>
{% endblock %}