<section class='Header' id='header'>
    <a class='Header-logo' href="/">
        <img src="{{ asset('logos/logo_white_min.png', 'image') }}" alt="logo" width="64" height="64">
    </a>
    <nav class='Header-nav'>
        {% if page is defined  %}
            {% set active = page %}
        {% endif %}
        
        <a class='Header-link {{ (active == 'offer') ? 'active' }}' id="header-link-offer" href="{{ path('show_offer') }}">Offer</a>
        <a class='Header-link {{ (active == 'request') ? 'active'  }}' id="header-link-request" href="{{ path('show_request') }}">Request</a>
    </nav>

    <div class='Header-login' id='header-login'>
        <div id='header-username-avatar-wrapper'>
            <div id='header-username'>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ app.user.pseudo }}
                {% else %}
                    Hello guess
                {% endif %}
            </div>
            <div id='header-login-avatar'>
                <img src="{{ asset('avatars/gamer.png', 'image') }}" alt="">
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_logout') }}" class='Header-logout sign' id='header-logout' style='text-decoration: none'>
                <div>Log out</div>
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class='Header-signin sign' id='header-signin' style='text-decoration: none'>
                <div>Sign in</div>
            </a>
        {% endif %}
    </div>
</section>