<section id='header'>
    <div id='header-logo'>
        <img src="{{ asset('logos/logo_white_min.png', 'image') }}" alt="logo" width="64" height="64">
    </div>

    <div id='header-login'>
        <div id='header-username-avatar-wrapper'>
            <div id='header-username'>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ app.user.pseudo }}
                {% else %}
                    Hello guess !
                {% endif %}
            </div>
            <div id='header-login-avatar'>
                <img src="{{ asset('avatars/gamer.png', 'image') }}" alt="">
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_logout') }}" id='header-logout' class='header-sign' style='text-decoration: none'>
                <div>Log out</div>
            </a>
        {% else %}
            <a href="{{ path('app_logout') }}" id='header-signin' class='header-sign' style='text-decoration: none'>
                <div>Sign in</div>
            </a>
        {% endif %}
    </div>
</section>