{% extends 'views/base.html.twig' %}
{% import 'component/block.html.twig' as block %}

{% block body %}
    <section id="user-wrapper">
        <article id='user-detail'>
            {{ form_start(form) }}
            <div class="form-errors">{{ form_errors(form) }}</div>

            <div class="form form-row">
                <div class="form form-row">
                    {{ form_row(form.pseudo) }}
                </div>
                <div class="form form-col">
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword) }}
                    {{ form_row(form.submit) }}
                </div>
            </div>

            {{ form_end(form) }}
        </article>

        <article id='user-items'>
            <nav id="user-items--nav">
                <ul>
                    <li>Collection</li>
                </ul>
            </nav>
            <div id="user-items--wrapper">
                <div id="user-items--listing">

                </div>
                <div id="user-items--actions">
                    {{ block.new('New item', path('new_item')) }}
                    {{ block.new('New offer', path('new_offer')) }}
                    {{ block.new('New request', path('new_request')) }}
                </div>
            </div>
        </article>
    </section>
{% endblock %}