{% extends 'views/base.html.twig' %}

{% block body %}
    <section id="user-wrapper">
        <article id='user-detail'>
            {{ form_start(form) }}
            <div class="form-errors">{{ form_errors(form) }}</div>

            <div class="form form-row">
                <div class="form form-row">
                    {{ form_row(form.pseudo) }}
                </div>
                <div class="form form-col">
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword) }}
                    {{ form_row(form.submit) }}
                </div>
            </div>

            {{ form_end(form) }}
        </article>

        <article id='user-items'>

        </article>
    </section>
{% endblock %}